* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #333;
  font-size: 1.6rem; }

.list {
  list-style: none; }
  .list:not(:last-child) {
    margin-bottom: 1rem; }

.item:not(:last-child) {
  margin-bottom: .5rem; }

.values {
  float: right; }

.value,
.step,
.roll {
  display: inline-block;
  margin-left: 1.5rem; }

.value,
.step {
  font-size: 1.8rem; }

.roll {
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  cursor: default; }

.title {
  color: #eee;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; }

.subtitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: .5rem; }

.attribute-name {
  display: inline-block;
  text-transform: uppercase; }

.header {
  margin-bottom: 3rem; }
  .header__nav {
    border-bottom: 2px solid #222;
    padding: 1rem 3rem;
    height: 12rem;
    position: relative; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 10rem;
    width: auto;
    margin-left: 5rem; }
  .header__buttons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 5rem; }
  .header__button:link, .header__button:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #eee;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: all .2s; }
  .header__button:not(:last-child) {
    margin-right: 3rem; }
  .header__button:hover {
    border-bottom: 2px solid #eee; }
  .header__button:active {
    transform: translateY(2px); }
  .header__bookmarks {
    padding: 0 3rem; }
  .header__bookmark:first-child {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); }
  .header__bookmark:not(:first-child) {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    transform: translateX(-10%); }
  .header__bookmark:link, .header__bookmark:visited {
    display: inline-block;
    padding: 1rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #eee;
    background-color: #444;
    transition: all .2s; }
  .header__bookmark:hover {
    background-color: #4e4e4e; }
  .header__bookmark:active {
    background-color: #3a3a3a; }

.content-window {
  width: 100%;
  padding: 3rem; }

.user-window {
  float: left;
  width: 75%;
  background-color: #fff;
  border-right: 5px solid #333;
  padding: 2rem; }

.dialogue-window {
  float: left;
  width: 25%;
  min-height: 100vh;
  background-color: #fff;
  padding: 2rem; }

.character__section {
  float: left;
  width: 40%;
  border: 2px solid #333; }
  .character__section--info {
    height: 26rem;
    margin-right: 3px; }
  .character__section--attributes {
    width: 26%;
    height: 26rem;
    margin-right: 3px; }
  .character__section--characteristics {
    width: 33%;
    height: 50rem; }
  .character__section--karma {
    width: 66.2%;
    margin-top: -23.5rem;
    height: 6.5rem; }
  .character__section--weapon-damage {
    width: 66.2%;
    margin-top: -16.5rem;
    height: 16.5rem; }

.character__heading {
  background-color: #333; }

.character__info-box {
  padding: 1rem; }

.character__info:not(:last-child) {
  margin-bottom: .5rem; }

.character__input {
  border: none;
  box-shadow: 0 1px 1px 0 rgba(78, 78, 78, 0.8); }
  .character__input[type='number'] {
    width: 4rem; }
  .character__input[type='text'] {
    width: 8rem; }

.character__label {
  text-transform: uppercase; }

.character__feature {
  display: inline-block; }
  .character__feature:not(:last-child) {
    margin-right: 3rem; }
