* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #333;
  font-size: 1.6rem; }

.list {
  list-style: none; }

.value {
  display: inline-block; }

.step {
  display: inline-block; }

.roll {
  display: inline-block; }

.header {
  margin-bottom: 3rem; }
  .header__nav {
    border-bottom: 2px solid #222;
    padding: 1rem 3rem;
    height: 12rem;
    position: relative; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 10rem;
    width: auto;
    margin-left: 5rem; }
  .header__buttons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 5rem; }
  .header__button:link, .header__button:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #eee;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: all .2s; }
  .header__button:not(:last-child) {
    margin-right: 3rem; }
  .header__button:hover {
    border-bottom: 2px solid #eee; }
  .header__button:active {
    transform: translateY(2px); }
  .header__bookmarks {
    padding: 0 3rem; }
  .header__bookmark:first-child {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); }
  .header__bookmark:not(:first-child) {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    transform: translateX(-10%); }
  .header__bookmark:link, .header__bookmark:visited {
    display: inline-block;
    padding: 1rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #eee;
    background-color: #444;
    transition: all .2s; }
  .header__bookmark:hover {
    background-color: #4e4e4e; }
  .header__bookmark:active {
    background-color: #3a3a3a; }

.content-window {
  display: table;
  width: 100%;
  padding: 3rem; }

.user-window {
  display: table-cell;
  width: 75%;
  background-color: #fff;
  border-right: 5px solid #333;
  padding: 2rem; }

.dialogue-window {
  display: table-cell;
  width: 25%;
  background-color: #fff;
  padding: 2rem; }

.character__section {
  float: left;
  width: 33%;
  border: 2px solid #333;
  margin: 1px; }

.character__heading {
  background-color: #333; }

.character__title {
  color: #eee;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; }

.character__info-box {
  padding: 1rem; }

.character__info:not(:last-child) {
  margin-bottom: .5rem; }

.character__input {
  border: none;
  box-shadow: 0 1px 1px 0 rgba(78, 78, 78, 0.8); }
  .character__input[type='number'] {
    width: 4rem; }
  .character__input[type='text'] {
    width: 8rem; }

.character__label {
  text-transform: uppercase; }
