// mixins

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@mixin center-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

// reset geenral settings

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #333;
    font-size: 1.6rem;
}

// utilities

.list {
    list-style: none;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.item {

    &:not(:last-child) {
        margin-bottom: .5rem;
    }
}

.values {
    float: right;
}

.value,
.step,
.roll {
    display: inline-block;
    margin-left: 1.5rem;
}

.value,
.step {
    font-size: 1.8rem;
}

.roll {
    text-transform: uppercase;
    border-bottom: 1px solid #333;
    cursor: default;
}

.table {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
}

//typography

.title {
    color: #eee;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.attribute-name {
    display: inline-block;
    text-transform: uppercase;
}

// header

.header {
    margin-bottom: 3rem;
    
    &__nav {
        border-bottom: 2px solid #222;
        padding: 1rem 3rem;
        height: 12rem;
        position: relative;
    }

    &__logo {
        @include center-left;
        height: 10rem;
        width: auto;
        margin-left: 5rem;
    }

    &__buttons {
        @include center-right;
        margin-right: 5rem;
    }

    &__button {

        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 2rem;
            color: #eee;
            padding-bottom: 2px;
            border-bottom: 2px solid transparent;
            display: inline-block;
            transition: all .2s;
        }

        &:not(:last-child) {
            margin-right: 3rem;
        }

        &:hover {
            border-bottom: 2px solid #eee;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__bookmarks {
        padding: 0 3rem;
    }

    &__bookmark {

        &:first-child {
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        }

        &:not(:first-child) {
            clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
            transform: translateX(-10%);
        }

        &:link,
        &:visited {
            display: inline-block;
            padding: 1rem 3rem;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 2rem;
            color: #eee;
            background-color: #444;
            transition: all .2s;
        }

        &:hover {
            background-color: rgb(78, 78, 78);
        }

        &:active {
            background-color: rgb(58, 58, 58);
        }
    }
}

// main layout

.content-window {
    //display: table;
    width: 100%;
    padding: 3rem;
}

.user-window {
    //display: table-cell;
    float: left;
    width: 75%;
    background-color: #fff;
    border-right: 5px solid #333;
    padding: 2rem;
}

.dialogue-window {
    //display: table-cell;
    float: left;
    width: 25%;
    min-height: 100vh;
    background-color: #fff;
    padding: 2rem;
}

// character

.character {

    &__section {
        float: left;
        border: 2px solid #333;

        &--info {
            width: 40%;
            height: 26rem;
            margin-right: 3px;
        }

        &--attributes {
            width: 26%;
            height: 26rem;
            margin-right: 3px;
        }

        &--characteristics {
            width: 33%;
            height: 50rem;
        }

        &--karma {
            width: 66.2%;
            margin-top: -23.5rem;
            height: 6.5rem;
        }

        &--weapon-damage {
            width: 66.2%;
            margin-top: -16.5rem;
            height: 16.5rem;
        }

        &--talents {
            width: 55%;
            margin-right: 3px;
            margin-top: 3px;
        }

        &--abilities {
            width: 44.3%;
            margin-top: 3px;
        }
    }

    &__heading {
        background-color: #333;
    }

    &__info-box {
        padding: 1rem;
    }

    &__info {
        
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__input {
        border: none;
        box-shadow: 0 1px 1px 0 rgba(78, 78, 78, 0.8);

        &[type='number'] {
            width: 4rem;
        }

        &[type='text'] {
            width: 8rem;
        }
    }

    &__label {
        text-transform: uppercase;
    }

    &__feature {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}